<p id="notice"><%= notice %></p>

<p>
  <strong>Artista:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Preços à partir de:</strong>
  <%= @event.price_low %>
</p>

<p>
  <strong>Até:</strong>
  <%= @event.price_high %>
</p>

<p>
  <strong>Data:</strong>
  <%= @event.event_date %>
</p>

<%= link_to 'Editar', edit_event_path(@event) %> |
<%= link_to 'Voltar', events_path %>
